#searchbar {
  position: relative;
  width: 516px;
  height: 40px;
  margin: auto;
  margin-top: 5px;
  background: #ECEEEF;
  border-radius: 4px;
}

#fastSearch {
  position: absolute;
  left: 0px;
  display: inline-block;
  width: 300px;
  z-index: 5;
  border-radius: 4px;
}

#fastSearch input {
  padding: 13px;
  width: 100%;
  height: 14px;
  font-size: 14px;
  color: #aaa;
  background: #ECEEEF;
  border: none;
  outline: none;
  text-align: left;
  display: inline-block;
}

#searchResults {
  display:none;
  position: absolute;
  margin: 0px;
  padding: 0px;
  max-height: 600px;
  overflow-y: scroll;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid black;
  box-shadow: 0px 10px 10px rgba(0,0,0,.15);
}

#searchResults {
  // visibility: inherit;
  // display: inline-block;
  width: 516px;
}

#searchResults li {
  padding:12px;
  list-style: none;
  margin-left: 0em;
  background: #ECEEEF;
  border-top: 1px dotted #000;
  span{
    color: black;
  }
  &:hover{
    outline: 0;
    background-color: #fff;
    color: #666;
    cursor:pointer;
  };
}

#searchResults li .title {
  color:black;
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: 10px;
  display: inline-block;
}



#searchResults a {
  color: black;
  text-decoration: none !important;
  padding: 10px;
  display: inline-block;
}
