#citation-51925 {
  all: revert; }

#citation-51925 * {
  all: revert; }

#citation-51925 .portal-container {
  all: revert; }
#citation-51925 .portal-container * {
  all: revert; }
#citation-51925 .portal-container {
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizeLegibility;
  border: 1px solid #C2DFE3;
  border-radius: 8px;
  margin-bottom: 25px;
  max-width: 800px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  #citation-51925 .portal-container:hover {
    transform: translateY(-3px);
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid #9DB8BF; }
  #citation-51925 .portal-container .portal-parent {
    overflow: hidden;
    position: relative;
    width: 100%;
    box-sizing: border-box; }
    #citation-51925 .portal-container .portal-parent .portal-parent-text {
      padding: 15px;
      color: #5C6D73;
      z-index: 40; }
    #citation-51925 .portal-container .portal-parent .portal-content {
      padding: 15px;
      color: #464A4D;
      line-height: 140%; }
  #citation-51925 .portal-container .portal-head {
    border-top: 1px solid #C2DFE3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: stretch;
    padding-left: 15px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    #citation-51925 .portal-container .portal-head .portal-avatar {
      border-radius: 100%;
      border: 1px solid #C2DFE3;
      width: 42px;
      height: 42px;
      margin: 12px 0px;
      position: relative; }
      #citation-51925 .portal-container .portal-head .portal-avatar img {
        max-width: 24px;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    #citation-51925 .portal-container .portal-head .portal-metadata {
      min-width: 0px;
      display: flex;
      flex-shrink: 1;
      align-items: center;
      margin-left: 10px; }
    #citation-51925 .portal-container .portal-head .portal-author {
      font-size: 14px;
      color: black;
      font-weight: 600;
      margin-bottom: 2px; }
    #citation-51925 .portal-container .portal-head .portal-title {
      font-size: 14px;
      color: #9DB8BF;
      max-width: 100%; }
      #citation-51925 .portal-container .portal-head .portal-title .title-wrapper {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        color: #5C6D73; }
    #citation-51925 .portal-container .portal-head .portal-backlink {
      margin-left: auto;
      display: flex;
      flex-shrink: 1;
      align-items: center;
      min-width: 80px;
      padding: 0px 15px;
      border-left: 1px solid #C2DFE3; }
      #citation-51925 .portal-container .portal-head .portal-backlink .portal-arrow {
        font-size: 14px;
        color: #9DB8BF;
        text-decoration: none;
        -webkit-transition: opacity 0.1s ease;
        -moz-transition: opacity 0.1s ease;
        -ms-transition: opacity 0.1s ease;
        -o-transition: opacity 0.1s ease;
        transition: opacity 0.1s ease; }
        #citation-51925 .portal-container .portal-head .portal-backlink .portal-arrow:hover {
          opacity: .5; }
#citation-51925 input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
#citation-51925 #citation-capture {
  font-family: -apple-system, system-ui, "Open Sans", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  overflow: hidden !important;
  width: 600px;
  height: auto;
  position: fixed !important;
  top: 10px !important;
  right: 10px !important;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100% - 50px);
  border: 5px solid #e7e7e5 !important;
  border-radius: 0.25em;
  padding: 24px;
  z-index: 2147483;
  background-color: white; }
#citation-51925 .citation-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 100%;
  margin-bottom: 20px; }
  #citation-51925 .citation-meta form:first-child {
    margin-right: 10px; }
#citation-51925 .citation-input {
  width: 280px;
  display: block;
  padding: 11px;
  height: 37px;
  font-size: 12px;
  box-shadow: none;
  -webkit-appearance: none;
  color: #464A4D;
  background: #ECEEEF;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease; }
  #citation-51925 .citation-input#comment-field {
    border-radius: 10px; }
#citation-51925 .citation-input:focus {
  outline: none;
  box-shadow: inset 0px 0px 0px 1px #9DB8BF; }
#citation-51925 .citation-input-label {
  display: block;
  font-size: 12px;
  margin-bottom: 2px; }
#citation-51925 .control-button {
  border: none;
  text-align: left;
  width: auto;
  min-width: 85px;
  height: 24px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  display: block;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  #citation-51925 .control-button:hover {
    cursor: pointer;
    opacity: .5; }
  #citation-51925 .control-button#getlink {
    color: #395FE5;
    height: 37px; }
#citation-51925 .citation-bottom {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex: 0 0 100%;
  margin-top: -13px; }
  #citation-51925 .citation-bottom div {
    display: inline-block; }
#citation-51925 #save-button {
  -webkit-appearance: none;
  width: 130px;
  display: block;
  padding: 11px;
  font-size: 14px;
  box-shadow: none;
  background: #F2F7FA;
  border: 0.5px solid #D5D5D5;
  box-sizing: border-box;
  border-radius: 4px; }

/*# sourceMappingURL=citation-namespace.css.map */
