body {
  font-size: 14px;
  font-family: -apple-system, system-ui, "Open Sans", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0px;
  padding: 0px;
}

#clearStorage {
  margin: 10px;
  position: fixed;
  right: 10px;
}

#nav {
  border: 1px solid #BDBCBC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
}

#nav #searchbar {
  position: relative;
  width: 516px;
  height: 40px;
  margin: auto;
  margin-top: 5px;
  background: #ECEEEF;
  border-radius: 4px;
}

#fastSearch {
  position: absolute;
  left: 0px;
  display: inline-block;
  width: 300px;
  z-index: 5;
  border-radius: 4px;
}

#fastSearch input {
  padding: 13px;
  width: 100%;
  height: 14px;
  font-size: 14px;
  color: #aaa;
  background: #ECEEEF;
  border: none;
  outline: none;
  text-align: left;
  display: inline-block;
}

#searchResults {
  position: absolute;
  margin: 0px;
  padding: 0px;
}

#searchResults li {
  list-style: none;
  margin-left: 0em;
  background: #ECEEEF;
  border-bottom: 1px dotted #000;
}

#searchResults li .title {
  font-size: 1.1em;
  margin-bottom: 10px;
  display: inline-block;
}

#searchResults {
  visibility: inherit;
  display: inline-block;
  width: 516px;
}

#searchResults a {
  color: white;
  text-decoration: none !important;
  padding: 10px;
  display: inline-block;
}

#searchResults a:hover, a:focus {
  outline: 0;
  background-color: #666;
  color: #fff;
}

#appcontainer {
  position: fixed;
  top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

#appcontainer #leftnav {
  border-right: 1px solid #BDBCBC;
  height: 100vh;
  width: 450px;
  overflow-y: scroll;
}

#appcontainer #rightpanel {
  padding: 25px 75px 0px 50px;
  background: white;
  width: 100%;
  overflow-y: scroll;
}

.quoteblock {
  margin-bottom: 25px;
}

.quote-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.quote-container .quote {
  background: #ECEEEF;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  color: #464A4D;
  line-height: 150%;
  font-weight: 400;
  width: 600px;
  min-height: 128px;
}

.quote-container .quote-controls {
  margin-left: 10px;
  position: relative;
}

.quote-container .quote-controls #delete {
  color: red;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.quote-container .quote-controls #getlink {
  color: #395FE5;
  margin-bottom: 6px;
}

.control-button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(14.58%, #FCFCFC), color-stop(82.29%, #FCFCFC), to(#F6F6F6));
  background: linear-gradient(180deg, #FFFFFF 0%, #FCFCFC 14.58%, #FCFCFC 82.29%, #F6F6F6 100%);
  border: 0.5px solid #D5D5D5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  width: 130px;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  display: block;
}

.control-button:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), color-stop(14.58%, #F2F7FA), color-stop(82.29%, #F2F7FA), to(#EBF0F2));
  background: linear-gradient(180deg, #FCFCFC 0%, #F2F7FA 14.58%, #F2F7FA 82.29%, #EBF0F2 100%);
  border: 0.5px solid #C2DFE3;
}

.comment {
  max-width: 600px;
  line-height: 20px;
  padding: 11px;
  color: #b6b6b6;
  background: #FFFFFF;
  border: 1px solid #C2DFE3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  margin-top: 10px;
}

.comment:focus {
  outline: none;
}

.meta {
  height: 25px;
  width: 100%;
}

.date {
  color: #B8B8B8;
  float: left;
}

.linkback {
  color: #B8B8B8;
  float: left;
  text-decoration: underline;
  margin-left: 15px;
}

.article {
  border-bottom: 1px solid #979797;
  padding: 20px 20px 20px 25px;
  cursor: pointer;
}

.article:hover {
  background-color: #F1F3F4;
}

.article .title {
  font-weight: 600;
  margin-bottom: 8px;
}

.article .author {
  font-weight: 600;
  color: #808080;
  margin-bottom: 8px;
}

.article .url {
  font-weight: 300;
}

.article .url img {
  padding-right: 5px;
  vertical-align: bottom;
}

.selected {
  border-left: 4px solid black;
  background-color: #ECEEEF;
}
/*# sourceMappingURL=options.css.map */
