@charset "UTF-8";

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


#citation-capture{
    all:revert;
}

#citation-capture *{
    all:revert;
}

input{
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#citation-capture{
    font-family: -apple-system, system-ui, "Open Sans", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    overflow: hidden !important;
    width: 600px;
    height: auto;
    position: fixed !important;
    top: 10px !important;
    right: 10px !important;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100% - 50px);
    border: 5px solid #e7e7e5 !important;
    border-radius: 0.25em;
    padding: 24px;
    z-index:2147483;
    background-color:white;
}

.citation-meta{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:center;
  flex: 0 0 100%;
  form{ 
    &:first-child{
      margin-right:10px;
    }
  }
}

.citation-input{
  width: 280px;
  display:block;
  padding:11px;
  height:37px;
  font-size:12px;
  box-shadow:none;
  -webkit-appearance: none;
  color:#464A4D;
  background: #ECEEEF;
  box-sizing: border-box;
  border-radius: 4px;
  &#comment-field{
    border-radius: 10px;
  }
  @include transition(all .10s ease);
}
.citation-input:focus{
  outline:none;
  // border: 1px solid #9DB8BF;
  box-shadow: inset 0px 0px 0px 1px #9DB8BF;
}

.citation-input-label{
  display:block;
  font-size:12px;
  margin-bottom:2px;
}

.control-button{
  border:none;
  text-align: left;
  width:auto;  
  min-width:85px;
  height:24px;
  font-size:14px;
  font-weight:500;
  font-family:inherit;
  display:block;
  @include transition(all .20s ease);
  &:hover{
    cursor: pointer;
    opacity:.5;
  }
  &#getlink{
    color: #395FE5;
    height:37px;
  }  
}

.citation-bottom{
  height:50px;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:start;
  flex: 0 0 100%;  
  margin-top:-13px;
  div{
    display:inline-block;
  }
}
#save-button{
  -webkit-appearance: none;
  // height:37px;
  width: 130px;
  display:block;
  padding:11px;
  font-size:14px;
  box-shadow:none;
  background: #F2F7FA;
  border: 0.5px solid #D5D5D5;
  box-sizing: border-box;
  border-radius: 4px;

}