.portal-container {
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizeLegibility;
  border: 1px solid #C2DFE3;
  border-radius: 8px;
  margin-bottom: 25px;
  max-width: 800px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .portal-container:hover {
    transform: translateY(-3px);
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid #9DB8BF; }
  .portal-container .portal-parent {
    overflow: hidden;
    position: relative;
    width: 100%;
    box-sizing: border-box; }
    .portal-container .portal-parent .portal-parent-text {
      padding: 15px;
      color: #5C6D73;
      z-index: 40; }
    .portal-container .portal-parent .portal-content {
      padding: 15px;
      color: #464A4D;
      line-height: 140%; }
  .portal-container .portal-head {
    border-top: 1px solid #C2DFE3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: stretch;
    padding-left: 15px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .portal-container .portal-head .portal-avatar {
      border-radius: 100%;
      border: 1px solid #C2DFE3;
      width: 42px;
      height: 42px;
      margin: 12px 0px; }
      .portal-container .portal-head .portal-avatar img {
        max-width: 24px;
        height: auto; }
    .portal-container .portal-head .portal-metadata {
      min-width: 0px;
      display: flex;
      flex-shrink: 1;
      align-items: center;
      margin-left: 10px; }
    .portal-container .portal-head .portal-author {
      font-size: 14px;
      color: black;
      font-weight: 600;
      margin-bottom: 2px; }
    .portal-container .portal-head .portal-title {
      font-size: 14px;
      color: #9DB8BF;
      max-width: 100%; }
      .portal-container .portal-head .portal-title .title-wrapper {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        color: #5C6D73; }
    .portal-container .portal-head .portal-backlink {
      margin-left: auto;
      display: flex;
      flex-shrink: 1;
      align-items: center;
      min-width: 80px;
      padding: 0px 15px;
      border-left: 1px solid #C2DFE3; }
      .portal-container .portal-head .portal-backlink .portal-arrow {
        font-size: 14px;
        color: #9DB8BF;
        text-decoration: none;
        -webkit-transition: opacity 0.1s ease;
        -moz-transition: opacity 0.1s ease;
        -ms-transition: opacity 0.1s ease;
        -o-transition: opacity 0.1s ease;
        transition: opacity 0.1s ease; }
        .portal-container .portal-head .portal-backlink .portal-arrow:hover {
          opacity: .5; }

/*# sourceMappingURL=quote.css.map */
