.portal-container-519256 {
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizeLegibility;
  border: 1px solid #C2DFE3;
  border-radius: 8px;
  margin-bottom: 25px;
  max-width: 800px;
  background-color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.portal-container-519256:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #9DB8BF;
}

.portal-container-519256 .portal-parent-519256 {
  overflow: hidden;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.portal-container-519256 .portal-parent-519256 .portal-parent-text-519256 {
  padding: 15px;
  color: #5C6D73;
  z-index: 40;
}

.portal-container-519256 .portal-parent-519256 .portal-content-519256 {
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 400;
  padding: 15px;
  color: #464A4D;
  line-height: 150%;
}

.portal-container-519256 .portal-head-519256 {
  border-top: 1px solid #C2DFE3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-left: 15px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.portal-container-519256 .portal-head-519256 .portal-avatar-519256 {
  border-radius: 100%;
  border: 1px solid #C2DFE3;
  width: 42px;
  height: 42px;
  min-width: 42px !important;
  margin: 12px 0px;
  position: relative;
}

.portal-container-519256 .portal-head-519256 .portal-avatar-519256 .mini-favicon-519256 {
  width: 22px;
  height: 22px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.portal-container-519256 .portal-head-519256 .portal-metadata-519256 {
  min-width: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.portal-container-519256 .portal-head-519256 .portal-author-519256 {
  font-size: 14px;
  line-height: 1.2;
  color: black;
  font-weight: 600;
  margin-bottom: 2px;
}

.portal-container-519256 .portal-head-519256 .portal-title-519256 {
  font-size: 14px;
  line-height: 1.2;
  color: #9DB8BF;
  max-width: 100%;
}

.portal-container-519256 .portal-head-519256 .portal-title-519256 .title-wrapper-519256 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  padding-right: 20px;
  color: #5C6D73;
}

.portal-container-519256 .portal-head-519256 .portal-backlink-519256 {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 81px;
  min-width: 81px !important;
  padding: 0px 15px !important;
  border-left: 1px solid #C2DFE3;
}

.portal-container-519256 .portal-head-519256 .portal-backlink-519256 .portal-arrow-519256 {
  border: none !important;
  font-family: inherit !important;
  font-size: 14px !important;
  color: #9DB8BF !important;
  text-decoration: none !important;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

.portal-container-519256 .portal-head-519256 .portal-backlink-519256 .portal-arrow-519256:hover {
  opacity: .5 !important;
}

.portal-container-519256 .portal-head-519256 .portal-backlink-519256 .portal-arrow-519256:visited {
  text-decoration: none !important;
}

.portal-content-519256 a {
  color: #464A4D;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.portal-content-519256 a:hover {
  opacity: .5;
}

.portal-content-519256 p {
  margin: 0px;
}

.portal-content-519256 img {
  width: 100%;
  height: auto;
  margin: .5em 0em;
}

.portal-content-519256 blockquote {
  border-left: 2px solid #C2DFE3;
  padding-left: .75em;
  -webkit-margin-start: 1em;
          margin-inline-start: 1em;
  color: #5C6D73;
}

.portal-content-519256 ol, .portal-content-519256 ul {
  -webkit-margin-before: .5em;
          margin-block-start: .5em;
  -webkit-margin-after: .5em;
          margin-block-end: .5em;
}

.portal-content-519256 h1, .portal-content-519256 h2, .portal-content-519256 h3 {
  -webkit-margin-before: .5em;
          margin-block-start: .5em;
  -webkit-margin-after: .5em;
          margin-block-end: .5em;
}
/*# sourceMappingURL=quote.css.map */