.portal-container-519256 {
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizeLegibility;
  border: 1px solid #C2DFE3;
  border-radius: 8px;
  margin-bottom: 25px;
  max-width: 800px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .portal-container-519256:hover {
    transform: translateY(-3px);
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid #9DB8BF; }
  .portal-container-519256 .portal-parent-519256 {
    overflow: hidden;
    position: relative;
    width: 100%;
    box-sizing: border-box; }
    .portal-container-519256 .portal-parent-519256 .portal-parent-text-519256 {
      padding: 15px;
      color: #5C6D73;
      z-index: 40; }
    .portal-container-519256 .portal-parent-519256 .portal-content-519256 {
      font-family: -apple-system, system-ui, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
      padding: 15px;
      color: #464A4D;
      line-height: 140%; }
  .portal-container-519256 .portal-head-519256 {
    border-top: 1px solid #C2DFE3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: stretch;
    padding-left: 15px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .portal-container-519256 .portal-head-519256 .portal-avatar-519256 {
      border-radius: 100%;
      border: 1px solid #C2DFE3;
      width: 42px;
      height: 42px;
      margin: 12px 0px;
      position: relative; }
      .portal-container-519256 .portal-head-519256 .portal-avatar-519256 img {
        max-width: 24px;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    .portal-container-519256 .portal-head-519256 .portal-metadata-519256 {
      min-width: 0px;
      display: flex;
      flex-shrink: 1;
      align-items: center;
      margin-left: 10px; }
    .portal-container-519256 .portal-head-519256 .portal-author-519256 {
      font-size: 14px;
      color: black;
      font-weight: 600;
      margin-bottom: 2px; }
    .portal-container-519256 .portal-head-519256 .portal-title-519256 {
      font-size: 14px;
      color: #9DB8BF;
      max-width: 100%; }
      .portal-container-519256 .portal-head-519256 .portal-title-519256 .title-wrapper-519256 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        color: #5C6D73; }
    .portal-container-519256 .portal-head-519256 .portal-backlink-519256 {
      margin-left: auto;
      display: flex;
      flex-shrink: 1;
      align-items: center;
      min-width: 80px;
      padding: 0px 15px;
      border-left: 1px solid #C2DFE3; }
      .portal-container-519256 .portal-head-519256 .portal-backlink-519256 .portal-arrow-519256 {
        font-size: 14px;
        color: #9DB8BF;
        text-decoration: none;
        -webkit-transition: opacity 0.1s ease;
        -moz-transition: opacity 0.1s ease;
        -ms-transition: opacity 0.1s ease;
        -o-transition: opacity 0.1s ease;
        transition: opacity 0.1s ease; }
        .portal-container-519256 .portal-head-519256 .portal-backlink-519256 .portal-arrow-519256:hover {
          opacity: .5; }

body {
  font-size: 14px;
  font-family: -apple-system, system-ui, "Open Sans", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0px;
  padding: 0px; }

#clearStorage {
  margin: 8px;
  position: fixed;
  right: 10px;
  color: #A8A9AB;
  font-size: 14px; }
  #clearStorage:hover {
    cursor: pointer;
    text-decoration: underline; }

#nav {
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #EBEEF0; }
  #nav #searchbar {
    position: relative;
    width: 516px;
    height: 40px;
    margin: auto;
    margin-top: 2px; }

#fastSearch {
  position: absolute;
  left: 0px;
  display: inline-block;
  width: 100%;
  z-index: 5; }
  #fastSearch:focus-within #searchInput {
    box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3), 0 1px 3px 1px rgba(65, 69, 73, 0.15);
    background: white;
    border-radius: 4px 4px 0px 0px;
    border: none; }

#fastSearch input {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding-left: 10px;
  width: 100%;
  height: 26px;
  font-size: 14px;
  background: #ECEEEF;
  outline: none;
  text-align: left;
  display: inline-block;
  background: linear-gradient(180deg, #FFFFFF 0%, #FCFCFC 14.58%, #FCFCFC 82.29%, #F6F6F6 100%);
  border: 0.5px solid #D5D5D5;
  border-radius: 4px; }
  #fastSearch input::placeholder {
    color: #767778;
    opacity: .5; }

#searchResults {
  display: none;
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 527px;
  background: white;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3), 0 1px 3px 1px rgba(65, 69, 73, 0.15); }

#searchResults li {
  list-style: none;
  margin-left: 0em;
  background: white;
  border-bottom: 1px solid #d5d5d5; }

#searchResults li .title {
  font-size: 1.1em;
  margin-bottom: 10px;
  display: inline-block; }

#searchResults a {
  color: black;
  text-decoration: none !important;
  padding: 10px;
  display: inline-block; }

#searchResults a:hover, a:focus {
  outline: 0;
  background-color: #ECEEEF; }

#appcontainer {
  position: fixed;
  top: 36px;
  display: flex;
  flex-direction: row;
  width: 100%; }
  #appcontainer #leftnav {
    position: relative;
    border-right: 1px solid #d5d5d5;
    background-color: #EBEEF0;
    height: 100vh;
    min-width: 350px;
    overflow-y: scroll;
    overscroll-behavior: contain; }
  #appcontainer #rightpanel {
    padding: 25px 75px 50px 3vw;
    background: white;
    width: 100%;
    height: 100vh;
    overflow: scroll; }

#article-scrollContainer, #panel-scrollContainer {
  padding-bottom: 70px; }

#capture-helper {
  position: absolute;
  left: 50%;
  width: 300px;
  margin-top: -50px;
  transform: translateX(-50%);
  text-align: center;
  z-index: 100;
  color: #A8A9AB;
  font-size: 14px; }

.quoteblock {
  margin-bottom: 25px;
  z-index: 9999; }

.quote-container {
  display: flex;
  flex-direction: row; }
  .quote-container .portal-container-519256 {
    max-width: 700px; }
  .quote-container .quote-controls {
    flex-direction: column;
    margin-left: 5px;
    position: relative;
    display: none;
    opacity: 1;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .quote-container .quote-controls .control-button {
      margin-bottom: 6px; }
    .quote-container .quote-controls #delete {
      color: red; }
    .quote-container .quote-controls #getlink {
      color: #395FE5; }

.control-button {
  border: none;
  text-align: left;
  width: auto;
  min-width: 85px;
  height: 24px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  display: block;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .control-button:hover {
    cursor: pointer;
    opacity: .5; }

.showcontrols {
  transform: translateX(10px); }

.comment {
  max-width: 600px;
  line-height: 20px;
  padding: 11px;
  color: #b6b6b6;
  background: #ECEEEF;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: -15px;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease; }

.comment:focus {
  outline: none;
  box-shadow: inset 0px 0px 0px 1px #9DB8BF; }

.meta {
  height: 25px;
  width: 100%; }

.date {
  color: #B8B8B8;
  float: left; }

.linkback {
  color: #B8B8B8;
  float: left;
  text-decoration: underline;
  margin-left: 15px; }
  .linkback:visited {
    color: #B8B8B8; }

.article {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border-bottom: .5px solid #d5d5d5;
  padding: 15px 11px 10px 15px;
  background-color: #F7F9FA;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: stretch; }
  .article:hover {
    background-color: white; }
  .article .title {
    color: #253237;
    font-weight: 600;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .article .url {
    font-weight: 300;
    margin-left: auto;
    white-space: nowrap;
    color: #253237;
    opacity: .5; }
    .article .url img {
      padding-right: 5px;
      vertical-align: bottom; }

.mini-favicon {
  margin-right: 6px;
  width: 16px;
  height: 16px;
  margin: 1px 12px 0px 0px; }

.selected {
  border-left: 4px solid #2162AF;
  background-color: white; }
  .selected .title {
    color: #2162AF; }
  .selected .url {
    color: #2162AF;
    opacity: 1; }

input, button {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

#citation-capture-519256 {
  font-family: -apple-system, system-ui, "Open Sans", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  overflow: hidden !important;
  width: 600px;
  height: auto;
  position: fixed !important;
  top: 10px !important;
  right: 10px !important;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100% - 50px);
  border: 5px solid #e7e7e5 !important;
  border-radius: 0.25em;
  padding: 24px;
  z-index: 2147483;
  background-color: white; }

.citation-meta-519256 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 100%;
  margin-bottom: 10px; }
  .citation-meta-519256 form:first-child {
    margin-right: 10px; }

.citation-input-519256 {
  width: 280px;
  display: block;
  padding: 11px;
  height: 37px;
  font-size: 12px;
  box-shadow: none;
  -webkit-appearance: none;
  color: #464A4D;
  background: #ECEEEF;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease; }
  .citation-input-519256#comment-field-519256 {
    border-radius: 10px; }

.citation-input-519256:focus {
  outline: none;
  box-shadow: inset 0px 0px 0px 1px #9DB8BF; }

.citation-input-label-519256 {
  display: block;
  font-size: 12px;
  margin-bottom: 2px; }

.control-button-519256 {
  border: none;
  text-align: left;
  width: auto;
  min-width: 85px;
  height: 24px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  display: block;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .control-button-519256:hover {
    cursor: pointer;
    opacity: .5; }
  .control-button-519256#getlink-519256 {
    color: #395FE5;
    height: 37px; }

.citation-bottom-519256 {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex: 0 0 100%;
  margin-top: -13px; }
  .citation-bottom-519256 div {
    display: inline-block; }

#save-button-519256 {
  -webkit-appearance: none;
  width: 130px;
  display: block;
  padding: 11px;
  font-size: 14px;
  box-shadow: none;
  background: #F2F7FA;
  border: 0.5px solid #D5D5D5;
  box-sizing: border-box;
  border-radius: 4px; }

/*# sourceMappingURL=styles.css.map */
